.App {
    text-align: center;

    display: flex;
    flex-direction: column;
    gap: 4rem;

    align-items: center;
    justify-content: center;
}

.display {
    width: 1140px;
    display: flex;
    /* gap: 2rem; */

    align-items: center;
    justify-content: space-evenly;
}
