:root {
    --bkg-clr: #fff;
    --font-clr: #111;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
p {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.618;
}
